<div class="text-area-img">
	<div class="bottom-layer preload" data-src="{{ppAssets}}images/{{img_name_d_bottom}}"></div>
	<div class="top-layer preload" data-src="{{ppAssets}}images/{{img_name_d_top}}"></div>
</div>
<!-- <div class="text-area-img display-t preload" data-src="{{ppAssets}}images/{{img_name_t}}"></div> -->
{{!-- <div class="text-area-img display-m preload" data-src="{{ppAssets}}images/{{img_name_m}}"></div> --}}
<div class="text-box">
	<h1>{{{title}}}</h1>
	<p class="text-body">{{{text_body}}}</p>
</div>
