<div class="video-container display-d">
	<div class="placeholder display-d preload" data-src="{{ppAssets}}images/{{img_name_d}}"></div>
	<div class="placeholder display-t display-t-r preload" data-src="{{ppAssets}}images/{{img_name_d}}"></div>
	<div class="display-d preload cg-container" data-src="{{ppAssets}}images/{{img_name_d}}" data-cg-webm-url="{{video_webm}}" data-cg-mp4-url="{{video_mp4}}"></div>
</div>
{{!-- <div class="">
	<div class="preload display-t-r" data-src="{{ppAssets}}images/{{img_name_m}}"></div>
</div> --}}
<div class="text-area-img preload display-t  display-m" data-src="{{ppAssets}}images/{{img_name_m}}"></div>
{{!-- <div class="text-area-img display-m preload" data-src="{{ppAssets}}images/{{img_name_m}}"></div> --}}
<div class="text-box">
	<h1>{{{title}}}</h1>
	<p class="text-body">{{{text_body}}}</p>
</div>
